<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <div>
      <p style="color: red">{{.}}</p>
      <form action="/signin" method="post">
        <div>
          <label for="username">username</label>
          <input id="username" type="text" name="username" autocomplete="off" />
        </div>

        <div>
          <label for="password">password</label>
          <input
            id="password"
            type="password"
            name="password"
            autocomplete="off"
          />
        </div>

        <button>signin</button>
      </form>
    </div>
  </body>
</html>
